<div class="card">
	<a>
		<div class="content-overlay">
			<div class="close_icon">
				<a (click)="deleteItem(cardData)">
					<fa-icon [icon]="closeIcon" [styles]="{'color': 'white'}"  size="lg" pull="right"></fa-icon>
				</a>
			</div>
			<div class="edit_icon">
				<a (click)="openModal('custom-modal-1',cardData.image_url)">
					<fa-icon [icon]="editIcon" [styles]="{'color': 'white'}" size="3x"></fa-icon>
				</a>
			</div>
		</div>
		<div class="card_title">
			<h3>{{cardData.name}}</h3>
		</div>
		<div class="card_image">
			<img src={{cardData.image_url}}>
  </div>
   </a>
  </div>

  <modal id="custom-modal-1">
     <div class="modal-content">
    <div class="close_icon_modal">
				<a (click)="closeModal('custom-modal-1');">
					<fa-icon [icon]="closeIcon" pull="right"></fa-icon>
				</a>
			</div>
      <h3>Edit Image</h3>
      <hr>
    
    <div class="row">
      <div class="column">
        <h5> Original Image:</h5>
        	<div class="card_image">
			      <img [src]=this.child.val>
          </div>
       
      </div>
       <div class="column">
         <h5> New Image:</h5>
        	<div class="card_image">
			      <img src ="">
          </div>
         
   <p>New Image link: <input type="link" [(ngModel)]="newImgLink" /></p>
   <button (click)="modifyItem(this.child.val);closeModal('custom-modal-1');">Confirm Image</button>
      </div>
    </div>
    </div>
</modal>