a{
  text-decoration: none;
}

.card{
  background: linear-gradient(to left, #C09F80 0%, #565656 100%);
  display: flex;
  flex-direction: column;
  position:relative;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card_title{
  text-align: center;
   color:#76323F;
}

.card .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card:hover .content-overlay{
  opacity: 1;
}

.close_icon {
  margin: 10px;
}
.edit_icon {
 position: absolute;
 top: 40%;
 left: 40%;
}
