<div class="card">
	<a>
		<div class="content-overlay">
			<div class="close_icon">
				<a (click)="deleteItem(cardData)">
					<fa-icon [icon]="closeIcon" [styles]="{'color': 'white'}" pull="right"></fa-icon>
				</a>
			</div>
			<div class="edit_icon">
				<a>
					<fa-icon [icon]="editIcon" [styles]="{'color': 'white'}" size="3x"></fa-icon>
				</a>
			</div>
		</div>
		<div class="card_title">
			<h3>{{cardData.name}}</h3>
		</div>
		<div class="card_image">
			<img src={{cardData.image_url}}>
  </div>
   </a>
  </div>